body {
    font-family: Arial;
    margin: 0;
    background-color: ;
}

h1 {
    background-color: #003366;
    color: black;
    padding: 30px;
    text-align: left;
}

a {
    margin: 30px;
    text-decoration: none;
    color: green;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

nav {
    margin-top: 10px;
}

nav a {
    color: green;
    margin: 50px;
    text-decoration: none;
    font-weight: italic;
}

nav a:hover {
    color: green;
}
