body {
    font-family: Arial;
    margin: 0;
    background-color: red;
}

h1 {
    background-color: #003366;
    color: white;
    padding: 20px;
    text-align: center;
}

a {
    margin: 10px;
    text-decoration: none;
    color: green;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}
